<div class="container row">
  <h1>About</h1>
</div>
<hr>
<div class="about-container row container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h3>About us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam aut commodi debitis est, et iusto
      labore, necessitatibus optio placeat possimus quos, ratione repellendus ullam unde voluptas voluptate
      voluptatem?</p>
    <h3>How We Work</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam aut commodi debitis est, et iusto
      labore, necessitatibus optio placeat possimus quos, ratione repellendus ullam unde voluptas voluptate
      voluptatem?</p>
    <h3>Contact Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam aut commodi debitis est, et iusto
      labore, necessitatibus optio placeat possimus quos, ratione repellendus ullam unde voluptas voluptate
      voluptatem?</p>
    <h3>Privacy Policy</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquam aut commodi debitis est, et iusto
      labore, necessitatibus optio placeat possimus quos, ratione repellendus ullam unde voluptas voluptate
      voluptatem?</p>
  </div>
  <div class="col-md-1"></div>
</div>
